<!DOCTYPE html>
{% load static %}
<div id="participantes_modal" class="modal">
   <div class="modal-content">
      <span class="close" onclick="cerrar_modal('participantes_modal')">&times;</span>
      <h3>Integrantes <span class="glyphicon glyphicon-user"></span></h3>
      <input type="text" value="" name="searchColumn" id="searchUser3" placeholder="Busca a un usuario..."/>
      {% for member in debate_members%}
      {% ifequal member.type 'username' %}
      <a type = "text" class="dummy-media-object" href="{% url 'username' member.user.id %}">
         <img class="round" src="{{ member.profile.img.url }}"/>
         <p> {{member.user}} </p>
      </a>
      {% else %}
      <a type = "text" class="dummy-media-object" href="{% url 'alias' member.profile.alias %}">
         <img class="round" src="{% static 'img/RDLogo05.png' %}"/>
         <p> {{member.profile.alias}} </p>
      </a>
      {% endifequal%}
      {% endfor %}
   </div>
</div>
<div class="container-debate">
   <header>
      <div class="row">
         <div class="col-sm-11">
            <h2>{{ debate.title }}</h2>
            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Visto {{visits}} veces
            <input id="idDebate" type="hidden" value={{debate.id_debate}}>
         </div>
         <div class="col-sm-1">
            <form id="id" method="post" action= "{% url 'resumen:index' %}" enctype="multipart/form-data" onsubmit="return confirm('¿Seguro que desea eliminar el debate?');">{% csrf_token %}
               <input type="hidden" value="{{ debate.id_debate  }}" name="id_delete_deb">
               <button type="submit" class="btn btn-title" data-toggle="tooltip" title="Eliminar debate" >
               <i class="fa fa-trash"></i>
               </button>
            </form>
         </div>
      </div>
   </header>
   <div class="row debInformation">
      <div class="col-sm-3 debCenter">
         <div class="thumbnail">
            <img src="{{ debate.img.url }}" />
         </div>
      </div>
      <div class="col-sm-3">
         <table>
            <tr>
               <td width=120 >
                  <p1>Fecha inicio</p1>
               </td>
               <td>{{ debate.date }}</td>
            </tr>
            <tr>
               <td width=120 >
                  <p1>Estado</p1>
               </td>
               <td> Cerrado </td>
            </tr>
            {% ifequal debate.members_type 0 %}
            <tr>
               <td width=120 >
                  <p1>Tipo debate</p1>
               </td>
               <td>
                  <div id="tu_postura">  Publico </div>
               </td>
            </tr>
            {% else %}
            <tr>
               <td width=120 >
                  <p1>Tipo debate</p1>
               </td>
               <td>
                  <div id="tu_postura"> <a href="javascript:abrir_modal('participantes_modal')"> Privado </a></div>
               </td>
            </tr>
            {% endifequal %}
         </table>
      </div>
      <div class="col-sm-6">
         <p class="debateDescripcion">{{ debate.text }}</p>
         {% ifequal debate.owner_type 'alias' %}
         <footer>Publicado por <a href="{% url 'alias' owner_profile.alias %}">{{owner_profile.alias}}</a>
            | {{owner_profile.reputation}} puntos de reputación
         </footer>
         {%else%}
         <footer>Publicado por <a href="{% url 'username' owner_user.id %}">{{owner_user}}</a>
            | {{owner_profile.reputation}} puntos de reputación
         </footer>
         {%endifequal%}
      </div>
   </div>
   <div class="row">
      <div class="col-sm-3 textCenter">
         <div class="fb-share-button"
            data-href="https://reddebate.cl/debate/{{ debate.id_debate }}/"
            data-layout="button_count"
            data-size="large">
         </div>
         <div class="tw-share-button">
            <a href="https://twitter.com/intent/tweet?status={{debate.title}}+https://reddebate.cl/debate/{{ debate.id_debate }}/" target="_blank">
            <img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
            Twittear
            </a>
         </div>
      </div>
      <div class="col-sm-9">
         {% for tag in tags%}
         <a class="tag-deb" href="{% url 'tagged' tag.slug %}">{{ tag.name }}</a>
         {% endfor%}
      </div>
   </div>
   <div id="progresoDebate">
      {% ifequal stats.infavor_percent 0 %}
      <div id="progreso"class="progress-bar" style="background:#d9534f; width: {{stats.against_percent}}%">
         <span class="glyphicon glyphicon-thumbs-down"></span> <label id="label_porc_c">{{stats.against_percent}}%</label>
      </div>
      {% else %}
      {% ifequal stats.against_percent 0 %}
      <div id="progreso"class="progress-bar" style="background:#18BC9C; width: {{stats.infavor_percent}}%">
         <span class="glyphicon glyphicon-thumbs-up"></span> <label id="label_porc_f">{{stats.infavor_percent}}%</label>
      </div>
      {% else %}
      <div id="progresoFavor"class="progress-bar" style="width: {{stats.infavor_percent}}%">
         <span class="glyphicon glyphicon-thumbs-up"></span> <label id="label_porc_f">{{stats.infavor_percent}}%</label>
      </div>
      <div id="progresoContra"class="progress-bar" style="width: {{stats.against_percent}}%">
         <span class="glyphicon glyphicon-thumbs-down"></span> <label id="label_porc_c">{{stats.against_percent}}%</label>
      </div>
      {% endifequal %}
      {% endifequal %}
   </div>
   <div id="argumentos" style="display: block;" >
      <div name="argumentos-debate">
         <div class="row">
            <div class="col-sm-6">
               {% include 'moderador_participaciones.html' with name_position="A Favor" arguments=stats.infavor_args_list position=1 num_post=stats.infavor_position_num%}
               <div id="alertaArgumento1" class="alert alert-info" role="alert">
                  <a href="javascript:location.reload()" class="alert-link">Hay nuevos argumentos...</a>
               </div>
               {% if can_argue %}
               {% ifequal actual_user_position 'A Favor' %}
               <form id="nuevoArgForm1" method="POST" class="post-form publicarArgumento" enctype="multipart/form-data">{% csrf_token %}
                  {{arg_form1.as_p}}
                  <button name="argument" type="submit" class="btn btn-deb1">Publicar</button>
               </form>
               {% endifequal %}
               {% endif %}
            </div>
            <div class="col-sm-6">
               {% include 'moderador_participaciones.html' with name_position="En Contra" arguments=stats.against_args_list position=0 num_post=stats.against_position_num%}
               <div id="alertaArgumento0" class="alert alert-info" role="alert">
                  <a href="javascript:location.reload()" class="alert-link">Hay nuevos argumentos...</a>
               </div>
               {% if can_argue %}
               {% ifequal actual_user_position 'En Contra' %}
               <form id="nuevoArgForm0" method="POST" class="post-form publicarArgumento" enctype="multipart/form-data">{% csrf_token %}
                  {{arg_form0.as_p}}
                  <button name="argument" type="submit" class="btn btn-deb0">Publicar</button>
               </form>
               {% endifequal %}
               {% endif %}
            </div>
         </div>
      </div>
      <p class="bottom-three">.</p>
   </div>
</div>
<!-- container debate -->
