<!DOCTYPE html>
{% if user.is_staff or user.is_superuser %}
<div class="container-debate">
      <header>
        <h2>{{label}}</h2>
        <p>{{moderator_view_deb|length}} debates | {{deb_pub}} publicos | {{deb_pri}} privados </p>
      </header>
      {% ifequal moderator_view_deb|length 0 %}
        <h3> ¡No hay resultados!</h3>
      {% else %}
        <ul class="cards">
          {% for deb in moderator_view_deb %}
            {% include 'grilla.html' with index=True%}
          {% endfor %}
        </ul>
      {%endifequal%}

</div>
{% endif %}
